<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-button slot="start" color="secondary">
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton" style="height: 60px; width: 60px"></ion-back-button>
      <ion-button (click)="dismissModal()" *ngIf="isModal" color="warning">
        <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  <ion-menu-button *ngIf="showMenu" menu="menu-content"></ion-menu-button>
</ion-button>
    <ion-title color="warning">
      <strong>{{title}}</strong>
    <div class="admin">iTakeU</div></ion-title>
  </ion-toolbar>
</ion-header>
