<app-header [showMenu]="true" title="Conductor"></app-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="card-container">
    <ion-card mode="ios" color="secondary" class="d-flex-center ion-text-center small-card left-aligned-card" *ngIf="!loading && products.length">
      <div class="card-content">
        <h5>VIAJES REGISTRADOS: <br> {{products.length}}</h5>
      </div>
    </ion-card>
    <ion-card mode="ios" color="secondary" class="d-flex-center ion-text-center small-card right-aligned-card" *ngIf="!loading && products.length">
      <div class="card-content">
        <h5>GANANCIAS PENDIENTE: <br> {{getProfits()}}</h5>
      </div>
    </ion-card>
  </div>

  <ion-item routerLink="/requests">
    <ion-icon slot="start" name="arrow-redo-circle-outline" color="warning"></ion-icon>
    <ion-label> <strong>Ver Solicitudes de Reservas</strong></ion-label>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="arrow-redo-circle-outline" color="secondary"></ion-icon>
    <ion-label (click)="openVerReservados()"> <strong> Ver Reservas Confirmadas</strong></ion-label>
  </ion-item>
      <!-- ============= productos ============== -->

  <ion-list *ngIf="!loading">
    <ion-item-sliding class="product-item" *ngFor="let p of products">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="p.image" />
        </ion-avatar>
        <ion-label>
          <div class="name"><strong style="color: #FFB800;">CONDUCTOR: </strong>{{user()?.name}}</div>
          <div class="data">
            <strong style="color: #800909">Patente: {{ p.patente }}</strong> <br>
            <strong style="color: #2812a4">Destino: {{ p.nombreRuta }}</strong> <br>
            <strong style="color: #2812a4">Hora Partida: {{ p.departureTime }}</strong> <br>
            <strong style="color: #2812a4">Asientos Disponibles: {{ p.soldUnits }}</strong> <br>
            <strong style="color: #2812a4">Estado Viaje: {{p.estadoViaje}} </strong>

          </div>
          <ion-chip color="warning" mode="ios" outline="true">
            <ion-label><b>Valor:</b> {{ p.price }}</ion-label>
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
          </ion-chip>
        </ion-label>
        

      </ion-item>

    <!-- ==================== OPCIONES ==================== -->
    
      <ion-item-options >
    <!-- ============= EDITAR ============== -->
        <ion-item-option (click)="addUpdateProduct(p)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>
      <!-- =========== ELIMINAR =========== -->
        <ion-item-option (click)="confirmDeleteProduct(p)" color="danger">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

      <!-- =========== CARGA EN PRODUCTOS =========== -->

  <ion-list *ngIf="loading">
      <ion-item class="product-item" *ngFor="let p of [1,1,1,1,1,1,1,1]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <div>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </div>
        </ion-label>
      </ion-item>
  </ion-list>

  <!------------   SIN PRODUCTOS   ----------->

  <div *ngIf="!loading && !products.length" class="empty">
    <ion-icon  name="car-outline"></ion-icon>
    <h3>No hay viajes añadidos!</h3>
  </div>

<!------------   AGREGAR PRODUCTO   ----------->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addUpdateProduct()" color="warning">
    <ion-icon name="add" color="secondary"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>