// Colores personalizados SCSS (tus variables)
$primary-color: #0054e9;
$secondary-color: #384861;
$tertiary-color: #4d26cc;
$success-color: #2dd55b;
$warning-color: #FFB800;
$danger-color: #c5000f;
$light-color: #f6f8fc;
$dark-color: #2f2f2f;

// Colores para Ionic usando las variables CSS (para controlar los componentes)
:root {
  /* Colores de Ionic */
  --ion-color-primary: #0054e9;
  --ion-color-primary-rgb: 0,84,233;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #004acd;
  --ion-color-primary-tint: #1a65eb;

  --ion-color-secondary: #172f55;
  --ion-color-secondary: #0b213c;
  --ion-color-secondary-rgb: 56,72,97;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #313f55;
  --ion-color-secondary-tint: #4c5a71;

  --ion-color-tertiary: #6030ff;
  --ion-color-tertiary-rgb: 96,48,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #542ae0;
  --ion-color-tertiary-tint: #7045ff;

  --ion-color-success: #2dd55b;
  --ion-color-success-rgb: 45,213,91;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #28bb50;
  --ion-color-success-tint: #42d96b;

  --ion-color-warning: #FFB800;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #FFB800;
  --ion-color-warning-tint: #FFB800;

  --ion-color-danger: #c5000f;
  --ion-color-danger-rgb: 197,0,15;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #ad000d;
  --ion-color-danger-tint: #cb1a27;

  --ion-color-light: #f6f8fc;
  --ion-color-light-rgb: 246,248,252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d8dade;
  --ion-color-light-tint: #f7f9fc;

  --ion-color-medium: #5f5f5f;
  --ion-color-medium-rgb: 95,95,95;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #545454;
  --ion-color-medium-tint: #6f6f6f;

  --ion-color-dark: #2f2f2f;
  --ion-color-dark-rgb: 47,47,47;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #292929;
  --ion-color-dark-tint: #444444;
}

// Define font sizes
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;