<app-header title="MARCAR PUNTOS"></app-header>

<ion-content>
  <div class="container">
    <div class="form-container">
      <ion-input placeholder="Nombre de la Ruta" [(ngModel)]="routeName"></ion-input>
      <ion-button (click)="saveRoute()" color="warning">Guardar Ubicación</ion-button>
    </div>
    <div id="map" class="map-container"></div>
    <ion-footer>
      <ion-button expand="full" (click)="volverAlInicio()" color="warning">Volver</ion-button>
    </ion-footer>
  </div>

</ion-content>
