<ion-card *ngIf="product" class="reservar-asientos-card">
  <ion-card-header class="card-header">
    <ion-card-title class="card-title" color="warning">Reservar Asientos</ion-card-title>
  </ion-card-header>

  <ion-card-content class="card-content">
    <form [formGroup]="form" (ngSubmit)="reserveSeats()">
      <ion-item class="form-item">
        <ion-label position="floating" class="form-item">Asientos a Reservar <br></ion-label>
        <ion-input type="number" formControlName="seats" class="input-field" placeholder="Ingrese el número de asientos"></ion-input>
      </ion-item>
      
      <ion-item *ngIf="form.controls['seats'].invalid && form.controls['seats'].touched">
        <ion-label color="danger" position="stacked">Cantidad no válida</ion-label>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="form.invalid" class="submit-button" color="warning">
        Reservar
      </ion-button>
    </form>

    <div class="card-content">
      <div id="map" style="height: 300px; width: 100%; margin-bottom: 20px;"></div>
    </div>

    <ion-buttons slot="center" class="close-buttons">
      <ion-button (click)="cerrarModal()" class="close-button" color="secondary"> Cerrar</ion-button>
    </ion-buttons>
  </ion-card-content>
</ion-card>