<app-header [isModal]="true" title="Mis Reservaciones"></app-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let reservation of reservados">
      <ion-label>
        <strong  style="color: #FFB800;">Nombre Ruta: </strong><strong style="color: #000000;font-weight: bold;"> <h2>{{ reservation.productCreatorNameRuta }}</h2></strong>
        <p>Asientos Reservados: {{ reservation.reservedSeats }}</p>
        <p>Fecha: {{ reservation.reservationDate }} </p>
        <p>Conductor: {{ reservation.productCreatorName }} </p>
        <p>Patente: {{ reservation.patente }}</p>
        <p>Estado Reservado: {{ reservation.status }} </p>
        <ion-button expand="full" (click)="openChat(reservation)" color="secondary">Abrir Chat</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
